body {
    background-image: url("../images/128-129.jpg");
    background-repeat: repeat;
}
/* ------------------------------------------------ */
    .box {
        font-family: 'Press Start 2P', cursive;
        text-align: center;
        background-color: white;
        border-style: solid;
        border-color: silver;
        border-width: 15px;
        margin: 30px;
        opacity: 0.5;
        min-height: 594.2px;
        padding-top: 50px;
        padding-bottom: 0px;
    }
/* ------------------------------------------------ */
        .title-box {
            margin-bottom: 50px;
        }
/* ------------------------------------------------ */
        #start-btn {
            height: 50px;
            width: 500px;
            margin-top: 125px;
        }

        .time-box {
    
        }

            .time {

            }
/* ------------------------------------------------ */
        .form {
            margin-bottom: 50px;
        }

            .question-box {
                margin: 30px;
            }

            .choice-box {
                font-size: 23px;
            }

                #choice2 {
                    margin-top: 15px;
                }
                #choice3 {
                    margin-top: 15px;
                }
                #choice4 {
                    margin-top: 15px;
                }
/* ------------------------------------------------ */
        